*,*::after,*::before
{
  padding:0;
  margin:0;  
  
}

@media screen and (min-width:0px)
{
html{
font-size:4px;
}
}


@media screen and (min-width:400px)
{
html{
font-size:6px;
}
}

@media screen and (min-width:800px)
{
html{
font-size:8px;
}
}


@media screen and (min-width:1000px)
{
html{
font-size:10px;
}
}

body
{
  background:linear-gradient(to left,#FFA500,#FF4500);

}
.navbar
{position:fixed;
  background:rgb(40, 38, 38);
  width:100vw;
  height:5rem;
}

.menu
{width:10vw;

display:flex;
flex-direction: row;
cursor: pointer;
}
.menu1
{   
    height:5rem;
    width:4rem;
    margin-left:0.5rem;
    background-image: url(media/menu1_white.png);
    background-size: 100% 100%;

}
.menutxt
{font-size:3rem;  
margin-top:1rem;
position:fixed;
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 6rem; 
    transition: 0.5s; 
  }
  

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
  }

  .container
  { 
    display:flex;
    justify-content: center;
  }

  .booking
  { margin:10rem;
    border-radius:5%;
    box-shadow:0rem 0rem 2rem black;
    background-color: white;
    width:50rem;
    height:50rem;
  }

  h2
  {
     margin-top:2%; 
     margin-bottom:5%;
     font-size:3.5rem;
     margin-left:15.5rem;
  }
  label
  {
color: #111;
font-size:2rem;
margin-left:5rem;
margin-top: 2%;
  }


.nametag
{
  display: grid;
  flex-direction:row;
}

 form
 {
  display: grid;
    flex-direction: row;
    
 }

  .ib
  {
    background-color:rgb(126, 134, 134);
    width:40rem;
    height:3.5rem;
    border:0;
    border-radius:5px ;
    margin-left:5rem;
    margin-top:1%;
  
  } 
  .sb
  {
     margin-top:10%;
     margin-left:25%;
     font-size:2rem;
     border:0;
     border-radius:20px;
     background-color:#f77129;
     height:50%;
     width:50%
  }